.results[b-3asepffdpk] {
    text-align: left;
    color: white ;
    list-style-position: inside;
}
.item[b-3asepffdpk]{
    border: 2px;
}

input[b-3asepffdpk]{
    border-radius: 15px;
    width: 400px;
}

p.sugerencia[b-3asepffdpk]{
    font-size: 20px;
}


.item .title[b-3asepffdpk] {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a.Title_of_Doc[b-3asepffdpk]{
    color: rgb(188, 188, 188);
}

.item .snippet[b-3asepffdpk]{
    font-size: 18px;
    font-weight: 5px;
    color: white;
}

.MoogleLogo[b-3asepffdpk]{
    color: white;
    font-size: 80px;
}

p.sugerencia[b-3asepffdpk]{
    color: white;
}




